name: CI Action

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - ".github/workflows/ci-action.yml"
      - "action.yml"
      - "actionlint/**"
      - "ghalint/**"
      - "zizmor/**"

jobs:
  actionlint:
    name: Run actionlint
    timeout-minutes: 5
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: ./actionlint

  ghalint:
    name: Run ghalint
    timeout-minutes: 5
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: ./ghalint
        with:
          action-path: ./**/action.yml

  zizmor:
    name: Run zizmor
    timeout-minutes: 5
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        persona:
          - regular
          - pedantic
          - auditor
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: ./zizmor
        with:
          github-token: ${{ github.token }}
          persona: ${{ matrix.persona }}
