name: CI Docker

permissions: {}

on:
  pull_request:
    paths:
      - ".github/workflows/ci-docker.yml"
      - "dockerfiles/actionlint/**"
      - "dockerfiles/ghalint/**"
      - "dockerfiles/zizmor/**"

jobs:
  actionlint:
    name: Run actionlint with Docker
    timeout-minutes: 5
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - run: docker compose run --rm actionlint

  ghalint:
    name: Run ghalint with Docker
    timeout-minutes: 5
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - run: docker compose run --rm ghalint "./**/action.yml"

  zizmor:
    name: Run zizmor with Docker
    timeout-minutes: 5
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        persona:
          - regular
          - pedantic
          - auditor
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: zizmor
        env:
          GH_TOKEN: ${{ github.token }}
          ZIZMOR_PERSONA: ${{ matrix.persona }}
        run: |
          docker compose run \
            --rm \
            --env GH_TOKEN="$GH_TOKEN" \
            --env ZIZMOR_PERSONA="$ZIZMOR_PERSONA" \
            zizmor
